body{
  text-align: center;
}
.App {
  text-align: center;
  width: 600px;
  border: 2px solid #234;
  margin-left: 10%;
  margin-top:4%;
  padding: .5%;
}

.flex{
display: flex;
}
.input{
  width: 240px;
  height: 60px;
  color: #000;
  background: blueviolet;
}
.ans{
  width: 240px;
  height: 60px;
  color: #000;
  background: blueviolet;
}

.btn-big{
  width: 120px;
  height: 60px;
  color: blueviolet;
}
.btn{
  width: 60px;
  height: 60px;
  color: blueviolet;
}
.btn-eql{
  width: 60px;
  height: 60px;
  color: blueviolet;
}
